<!DOCTYPE html>
<html>

<head>
    <title>座席表</title>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
        .box {
            height: 100px;
            width: 100px;
            border: 1px solid black;
            margin-right: 5px;
            margin-left: 5px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            line-height: 100px;
            overflow:   hidden;
        }

        .box.seated {
            background-color: #999;
        }

        .seat {
            width: 50px;
            height: 50px;
            background-color: #ccc;
            margin: 5px;
            border: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow:   hidden;
        }

        .seat.occupied {
            background-color: #fff;
        }

        .managerSeat {
            width: 68px;
            height: 40px;
            background-color: #ccc;
            margin: auto;
            margin-bottom: 4px;
            border: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow:   hidden;
        }

        .managerSeat.occupied {
            background-color: #fff;
        }

        .managerSeat.hidden {
            visibility: hidden;
        }

        .tableLarge {
            width: 70px;
            height: 278px;
            background-color: #ccc;
            border: 1px solid #000;
        }

        .tableSmall {
            width: 70px;
            height: 164px;
            background-color: #ccc;
            border: 1px solid #000;
        }

        .seat-island {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            position: relative;
        }

        .section {
            margin-right: 15px;
            margin-left: 15px;
            justify-content: center;
        }

        .section-row {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: left;
        }
    </style>
</head>

<body>

    <div id="app">
        <h1 class="bg-secondary text-white display-3 px-2 align-middle pb-3">Seat Management
        </h1>
        <h2 class="be-secondary">Seats</h2>
        <div class="section-row">
            <div class="section" v-for="row in layout.rows" :key="row">
                <div class="managerSeat" :class="{occupied: isOccupied(row + '-seat-m'), hidden: !layout['generalManager-seats'].some((element) => element === row)}"
                    :id="`${row}-seat-m`" :draggable="isOccupied(row + '-seat-m')" @drop="drop" @dragover.prevent
                    @dragleave.prevent @contextmenu="leave" @contextmenu.prevent
                    @dragstart="dragStartSeat($event)">
                    {{
                    getNameById(occupiedSeats[row + '-seat-m']) }}</div>
                <div class="managerSeat" :class="{occupied: isOccupied(row + '-seat-m'), hidden: !layout['manager-seats'].some((element) => element === row)}"
                    :id="`${row}-seat-m`" :draggable="isOccupied(row + '-seat-m')" @drop="drop" @dragover.prevent
                    @dragleave.prevent @contextmenu="leave" @contextmenu.prevent
                    @dragstart="dragStartSeat($event)">
                    {{
                    getNameById(occupiedSeats[row + '-seat-m']) }}</div>
                <div class="seat-island">
                    <div class="seat-row">
                        <div class="seat" :class="{occupied: isOccupied(row + '-seat-s-l-' + s)}"
                            v-for="s in layout['small-seats']" :key="s" :id="`${row}-seat-s-l-${s}`"
                            :draggable="isOccupied(row + '-seat-s-l-' + s)" @drop="drop" @dragover.prevent
                            @dragleave.prevent @contextmenu="leave" @contextmenu.prevent
                            @dragstart="dragStartSeat($event)">
                            {{
                            getNameById(occupiedSeats[row + '-seat-s-l-' + s]) }}</div>
                    </div>
                    <div class="tableSmall"></div>
                    <div class="seat-row">
                        <div class="seat" :class="{occupied: isOccupied(row + '-seat-s-r-' + s)}"
                            v-for="s in layout['small-seats']" :key="s" :id="`${row}-seat-s-r-${s}`"
                            :draggable="isOccupied(row + '-seat-s-r-' + s)" @drop="drop" @dragover.prevent
                            @dragleave.prevent @contextmenu="leave" @contextmenu.prevent
                            @dragstart="dragStartSeat($event)">
                            {{
                            getNameById(occupiedSeats[row + '-seat-s-r-' + s]) }}</div>
                    </div>
                </div>
                <div class="seat-island">
                    <div class="seat-row">
                        <div class="seat" :class="{occupied: isOccupied(row + '-seat-l-l-' + s)}"
                            v-for="s in layout['large-seats']" :key="s" :id="`${row}-seat-l-l-${s}`"
                            :draggable="isOccupied(row + '-seat-l-l-' + s)" @drop="drop" @dragover.prevent
                            @dragleave.prevent @contextmenu="leave" @contextmenu.prevent
                            @dragstart="dragStartSeat($event)">
                            {{
                            getNameById(occupiedSeats[row + '-seat-l-l-' + s]) }}</div>
                    </div>
                    <div class="tableLarge"></div>
                    <div class="seat-row">
                        <div class="seat" :class="{occupied: isOccupied(row + '-seat-l-r-' + s)}"
                            v-for="s in layout['large-seats']" :key="s" :id="`${row}-seat-l-r-${s}`"
                            :draggable="isOccupied(row + '-seat-l-r-' + s)" @drop="drop" @dragover.prevent
                            @dragleave.prevent @contextmenu="leave" @contextmenu.prevent
                            @dragstart="dragStartSeat($event)">
                            {{
                            getNameById(occupiedSeats[row + '-seat-l-r-' + s]) }}</div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Employees</h2>
        <div class="section-row">
            <input type="text" v-model="keyword" placeholder="名前をいれてね(漢字)" style="margin-bottom: 5px">
        </div>
        <div class="section-row">
            <div v-for="employee in filteredEmployees" class="box" :class="{ seated: isSeated(employee.employeeId)}"
                :draggable="true" @dragstart="dragStart($event, employee)">{{
                employee.name }}
            </div>
        </div>

        <h2>Actions</h2>
        <div class="section-row">
            <button type="button" class="btn btn-primary btn-lg" @click="resetAssign"
                style="margin-right: 10px;">Reset</button>
            <button type="button" class="btn btn-secondary btn-lg" @click="randomAssign">Random</button>
        </div>
    </div>

    <script>
        const appdata = {
            data() {
                return {
                    layout: {
                        'rows': 8, // (島×2)の列の数
                        'small-seats': 3, // 小テーブルの座席数（片側）
                        'large-seats': 5, // 大テーブルの座席数（片側）
                        'manager-seats' : [2, 5], //課長席が存在する行
                        'generalManager-seats' : [4, 7],//部長席が存在する行
                    },
                    draggedItem: '',
                    employees: {
                        user2: { employeeId: '2', name: '佐藤社長' },
                        user4: { employeeId: '4', name: '尾高部長' },
                        user18: { employeeId: '18', name: '照沼執行役員' },
                        user19: { employeeId: '19', name: '石井' },
                        user26: { employeeId: '26', name: '小川' },
                        user53: { employeeId: '53', name: '楠瀬' },
                        user64: { employeeId: '64', name: '中嶋' },
                        user80: { employeeId: '80', name: '茅野' },
                        user81: { employeeId: '81', name: '最上' },
                        user90: { employeeId: '90', name: '土田' },
                        user92: { employeeId: '92', name: '鈴木' },
                        user110: { employeeId: '110', name: '澤田' },
                        user120: { employeeId: '120', name: '大平' },
                        user161: { employeeId: '161', name: '中島' },
                        user170: { employeeId: '170', name: '平澤' },
                        user193: { employeeId: '193', name: '市川' },
                        user222: { employeeId: '222', name: '田崎' },
                        user224: { employeeId: '224', name: '剣持' },
                        user243: { employeeId: '243', name: '日髙' },
                        user266: { employeeId: '266', name: '神宮' },
                        user272: { employeeId: '272', name: '大西' },
                        user293: { employeeId: '293', name: '楠' },
                        user308: { employeeId: '308', name: '辻本' },
                        user331: { employeeId: '331', name: '菊池' },
                        user339: { employeeId: '339', name: '濱中' },
                        user341: { employeeId: '341', name: '滝川' },
                        user342: { employeeId: '342', name: '松澤' },
                        user348: { employeeId: '348', name: '平本' },
                        user353: { employeeId: '353', name: '西澤' },
                        user374: { employeeId: '374', name: '相武' },
                        user376: { employeeId: '376', name: '甲斐課長' },
                        user382: { employeeId: '382', name: '宮島' },
                        user385: { employeeId: '385', name: '市田' },
                        user390: { employeeId: '390', name: '伊藤' },
                        user412: { employeeId: '412', name: '島尻' },
                        user416: { employeeId: '416', name: '有賀' },
                        user420: { employeeId: '420', name: '高畑' },
                        user428: { employeeId: '428', name: '河合' },
                        user432: { employeeId: '432', name: '森' },
                        user433: { employeeId: '433', name: '吉若' },
                        user440: { employeeId: '440', name: '小池' },
                        user443: { employeeId: '443', name: '穴沢' },
                        user455: { employeeId: '455', name: '蟻田課長' },
                        user465: { employeeId: '465', name: '下村' },
                        user469: { employeeId: '469', name: '志藤' },
                        user470: { employeeId: '470', name: '髙橋' },
                        user471: { employeeId: '471', name: '茶之木' },
                        user474: { employeeId: '474', name: '薗田' },
                        user477: { employeeId: '477', name: '鈴木' },
                        user478: { employeeId: '478', name: '玉塚' },
                        user481: { employeeId: '481', name: '柴田' },
                        user482: { employeeId: '482', name: '芹澤' },
                        user483: { employeeId: '483', name: '出口' },
                        user486: { employeeId: '486', name: '山本' },
                        user487: { employeeId: '487', name: '榎本' },
                        user491: { employeeId: '491', name: '山本' },
                        user492: { employeeId: '492', name: '佐藤本部長' },
                        user495: { employeeId: '495', name: '柏木' },
                        user496: { employeeId: '496', name: '石戸' },
                        user498: { employeeId: '498', name: '細根' },
                        user499: { employeeId: '499', name: '松川' },
                        user502: { employeeId: '502', name: 'レ' },
                        user503: { employeeId: '503', name: '岡本' },
                        user507: { employeeId: '507', name: '笠見' },
                        user508: { employeeId: '508', name: '中村' },
                        user509: { employeeId: '509', name: '林田' },
                        user511: { employeeId: '511', name: '田母神' },
                        user512: { employeeId: '512', name: '渡部' },
                        user514: { employeeId: '514', name: '浅子' },
                        user517: { employeeId: '517', name: '加藤' },
                        user520: { employeeId: '520', name: '土井' },
                        user523: { employeeId: '523', name: '山田' },
                        user525: { employeeId: '525', name: '高野' },
                        user527: { employeeId: '527', name: '後小路' },
                        user529: { employeeId: '529', name: '荻野' },
                        user530: { employeeId: '530', name: '堀田' },
                        user533: { employeeId: '533', name: '伊東' },
                        user535: { employeeId: '535', name: '斉藤' },
                        user536: { employeeId: '536', name: '濱井' },
                        user537: { employeeId: '537', name: '飯沼' },
                        user538: { employeeId: '538', name: '小長井' },
                        user539: { employeeId: '539', name: '酒井' },
                        user540: { employeeId: '540', name: '桃井' },
                        user541: { employeeId: '541', name: '大西' },
                        user545: { employeeId: '545', name: '山本' },
                        user547: { employeeId: '547', name: '河井' },
                        user548: { employeeId: '548', name: '南川' },
                        user550: { employeeId: '550', name: '井川' },
                        user551: { employeeId: '551', name: '鈴木' },
                        user552: { employeeId: '552', name: '池田' },
                        user553: { employeeId: '553', name: '立川' },
                        user554: { employeeId: '554', name: '長友' },
                        user555: { employeeId: '555', name: '梅田' },
                        user556: { employeeId: '556', name: '加藤' },
                        user557: { employeeId: '557', name: '土屋' },
                        user558: { employeeId: '558', name: '増田' },
                        user559: { employeeId: '559', name: '曽我部' },
                        user561: { employeeId: '561', name: '三宅' },
                        user562: { employeeId: '562', name: '山下' },
                        user563: { employeeId: '563', name: '浅田' },
                        user564: { employeeId: '564', name: '佐藤' },
                        user565: { employeeId: '565', name: '宮川' },
                        user568: { employeeId: '568', name: '木寺' },


                    },
                    occupiedSeats: {
                        // seatId : employeeId
                    },
                    keyword: ''
                }
            },
            computed: {
                filteredEmployees() {
                    var sortedEmployees = {};    //ソート結果格納用のオブジェクト
                    var filteredEmployees = {};  // 検索結果格納用のオブジェクト
                    var count = 0; // カウント
                    var keywordCut = this.keyword.substr(0, 10); //検索用文字列カット

                    //まず着席していない社員を格納
                    for (var key in this.employees) {
                        var employee = this.employees[key];
                        if (!this.isSeated(employee.employeeId)) {
                            sortedEmployees[key] = employee;
                        }
                    }
                    //次に着席している社員を格納
                    for (var key in this.employees) {
                        var employee = this.employees[key];
                        if (this.isSeated(employee.employeeId)) {
                            sortedEmployees[key] = employee;
                        }
                    }
                    //ソート済み社員から検索
                    for (var key in sortedEmployees) {
                        var employee = sortedEmployees[key];
                        if (employee.name.indexOf(keywordCut) !== -1) {
                            if (count >= 15) {
                                break;
                            }
                            filteredEmployees[key] = employee;
                            count++;
                        }
                    }
                    return filteredEmployees;  // オブジェクトを返す
                }
            },

            methods: {
                //[イベント]ドラッグ開始
                dragStart(event, employee) {
                    //ドラッグ箱の初期化
                    this.draggedItem = '';
                    this.draggedItem = employee.employeeId;
                },
                //[イベント]ドラッグ開始（座席）
                dragStartSeat(event) {
                    this.draggedItem = '';
                    this.draggedItem = this.occupiedSeats[event.target.id];
                },
                //[イベント]座席にドロップ
                drop(event) {
                    const seatId = event.target.id;
                    this.assignSeat(seatId, this.draggedItem);
                    //this.seats[id] = this.draggedItem
                    //ドラッグ箱の初期化
                    this.draggedItem = '';
                },
                //[イベント]座席右クリック
                leave(event) {
                    const seatId = event.target.id;
                    this.unassignSeat(seatId);
                },
                //[イベント]リセットボタン押下
                resetAssign() {
                    if (!confirm('リセットして良い？')) return;
                    for (let key in this.occupiedSeats) {
                        this.unassignSeat(key);
                    }
                    this.keyword = '';
                },
                randomAssign() {
                    if (!confirm('ランダムに配置して良い？')) return;

                    // すべての割り当てをクリア
                    this.occupiedSeats = {};

                    // すべての席を配列に格納
                    const allSeats = [];
                    for (let row = 1; row <= this.layout.rows; row++) {
                            allSeats.push(`${row}-seat-m`)
                        for (let s = 1; s <= this.layout['large-seats']; s++) {
                            allSeats.push(`${row}-seat-l-l-${s}`);
                            allSeats.push(`${row}-seat-l-r-${s}`);
                        }
                        for (let s = 1; s <= this.layout['small-seats']; s++) {
                            allSeats.push(`${row}-seat-s-l-${s}`);
                            allSeats.push(`${row}-seat-s-r-${s}`);
                        }
                    }

                    // 席をシャッフル
                    const shuffledSeats = this.shuffleArray([...allSeats]);

                    // 従業員のIDを配列に格納
                    const employeeIds = Object.keys(this.employees);

                    // 従業員をランダムな席に割り当て
                    for (let i = 0; i < employeeIds.length; i++) {
                        const seat = shuffledSeats[i];
                        if (seat) {
                            this.assignSeat(seat, this.employees[employeeIds[i]].employeeId);
                        }
                    }
                },
                // 配列をシャッフルするユーティリティ関数
                shuffleArray(array) {
                    for (let i = array.length - 1; i > 0; i--) {
                        const j = Math.floor(Math.random() * (i + 1));
                        [array[i], array[j]] = [array[j], array[i]];
                    }
                    return array;
                },
                //座席を社員に割り当てる
                assignSeat(seatId, employeeId) {
                    if (this.isOccupied(seatId)) {
                        delete this.occupiedSeats[seatId];
                    }
                    if (this.isSeated(employeeId)) {
                        const aaa = Object.keys(this.occupiedSeats).find(key => this.occupiedSeats[key] === employeeId);
                        delete this.occupiedSeats[aaa];
                    }
                    this.occupiedSeats[seatId] = employeeId;
                },
                //割り当て削除
                unassignSeat(seatId) {
                    delete this.occupiedSeats[seatId];
                },
                //座席の占有チェック
                isOccupied(seatId) {
                    if (this.occupiedSeats[seatId]) {
                        //alert('その席にはすでに誰かが座っている');
                        return true; //その席にはすでに誰かが座っている
                    }
                    return false; //OK
                },
                //社員に座席が割り当てられているかチェック
                isSeated(employeeId) {
                    if (Object.keys(this.occupiedSeats).find(key => this.occupiedSeats[key] === employeeId)) {
                        //alert('その人はすでに別の席に座っている');
                        return true; //その人はすでに別の席に座っている
                    }
                    return false; //OK
                },
                //社員番号から社員名を取得
                getNameById(employeeId) {
                    // Object.values()でオブジェクトから配列を作成
                    const employeesArray = Object.values(this.employees);
                    // find()メソッドで指定したemployeeIdと一致するオブジェクトを探す
                    const employee = employeesArray.find(emp => emp.employeeId === employeeId);
                    // オブジェクトが見つかればその名前（name）を返す、見つからなければundefinedを返す
                    return employee ? employee.name : undefined;
                }
            }
        };

        let app = Vue.createApp(appdata)
        app.mount('#app')
    </script>
</body>

</html>